<div class="container-fluid">
    <div class="jumbotron text-center">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>universeId</th>
              <th>name</th>
              <th>color</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let star of stars.stars">
              <td>{{star?.id}}</td>
              <td>{{star?.universeId}}</td>
              <td>{{star?.name}}</td>
              <td [style.color]="star.color">{{star?.color}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>